@charset "UTF-8";
@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.services__heading, .articles__heading, .profile__heading, .about__heading, .reviews__heading, .contacts__heading {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.025em;
  text-align: center;
  color: #7c1ba9; }

.header-wrapper .callback, .services .card__link, .services__more.link, .articles .article__more, .profile .sign-up {
  display: flex;
  align-items: center;
  vertical-align: middle;
  line-height: 110%;
  letter-spacing: 0.025em;
  border-radius: 12px;
  color: #fff; }

.services .card__link {
  font-weight: 500;
  font-size: 15px;
  background-color: #8a5e9e;
  padding: 12px 45px; }

.services__more.link, .articles .article__more, .profile .sign-up {
  background-color: #473e83;
  padding: 14px 20px; }
  .services__more.link:hover, .articles .article__more:hover, .profile .sign-up:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: #7c1ba9; }

.header-wrapper .callback {
  background-color: #413c60;
  padding: 12px 26px;
  font-size: 15px;
  font-weight: 400; }
  .header-wrapper .callback:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: #7c1ba9; }

* {
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  transition: 0.5s; }

.page {
  background: #fbf8ff; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px; }

.container-md {
  max-width: 1055px;
  margin: 0 auto; }

.visually-hidden {
  display: none; }

.link {
  text-decoration: none;
  color: #000; }

.link,
.btn {
  cursor: pointer; }

.paragraph {
  display: block; }

.list {
  list-style: none; }

.slick-slider {
  display: flex; }

.slick-track {
  display: flex;
  align-items: flex-start; }

.slick-list {
  overflow: hidden; }

.slick-dots {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 24px; }

.slick-dots li {
  margin: 0 10px; }

.slick-dots button {
  background-color: #a6a6a6;
  border: none;
  display: flex;
  align-items: center;
  font-size: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px; }

.slick-active button {
  background-color: #727171; }

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 16px 67px;
  gap: 65px; }
  .header-wrapper .menu__list {
    display: flex;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.025em;
    gap: 65px; }
  .header-wrapper .menu__link {
    border-radius: 12px; }
  .header-wrapper .menu__item:hover {
    display: block;
    transform: scale(1.2); }
  .header-wrapper .callback {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header-wrapper .callback__img {
      margin-right: 12px;
      width: 16px;
      height: 16px; }
    .header-wrapper .callback__link {
      color: #fff; }

.hero {
  background-color: rgba(230, 221, 249, 0.77); }
  .hero-wrapper {
    background: url(../img/hero/hero_illustration.png) no-repeat;
    background-position: right bottom;
    min-height: 565px; }
  .hero-inner {
    padding: 241px 0 0 98px; }
  .hero__content {
    display: flex;
    flex-direction: column;
    color: #00233d;
    gap: 48px; }
  .hero__heading {
    font-weight: 500;
    font-size: 36px;
    line-height: 67%; }
  .hero__subheading {
    font-weight: 300;
    font-size: 32px;
    line-height: 133%;
    letter-spacing: -1px; }

.sellout {
  background-color: #7c1ba9;
  color: #fff; }
  .sellout-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 21px 209px 21px 0; }
  .sellout__content {
    letter-spacing: 0.5px; }
  .sellout__heading {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 27px;
    line-height: 110%; }
  .sellout__subheading {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%; }
  .sellout__img {
    max-width: 180px;
    max-height: 180px; }

.benefits-wrapper {
  padding: 130px 0; }
.benefits__list {
  display: flex;
  gap: 125px; }
.benefits .benefit {
  display: flex;
  flex-direction: column; }
  .benefits .benefit__title {
    order: 2;
    font-weight: 600;
    font-size: 20px;
    line-height: 118%;
    letter-spacing: 0.5px;
    margin-bottom: 10px; }
  .benefits .benefit__img {
    order: 1;
    width: 50px;
    height: 50px;
    margin-bottom: 12px; }
  .benefits .benefit__desc {
    order: 3;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.5px; }

.services__subheading,
.card__title,
.article__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 110.52%;
  letter-spacing: 0.025em;
  text-align: center; }

.services__subheading {
  margin-top: 20px; }
.services-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px; }
.services .slick-list {
  width: 1340px; }
.services-inner {
  padding-bottom: 74px; }
.services .cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 157px; }
.services .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .services .card__item {
    max-width: 300px; }
    .services .card__item:not(:last-child) {
      margin-right: 45px; }
    .services .card__item:hover .card__top {
      background: #8a5e9e; }
    .services .card__item:hover .card__img {
      opacity: 0.5; }
    .services .card__item:hover .card__price {
      opacity: 1; }
  .services .card__top {
    position: relative;
    height: auto;
    border-radius: 50%; }
  .services .card__img {
    border-radius: 50%;
    display: block;
    height: auto; }
  .services .card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
  .services .card__price {
    position: absolute;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    margin-bottom: 56px; }
  .services .card__title {
    margin: 24px 0 36px; }
  .services .card__link {
    margin-top: auto;
    align-self: center; }
    .services .card__link:hover {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
      background-color: #b876d7; }
.services__more.link {
  align-self: flex-end;
  font-weight: 500;
  font-size: 18px; }

.articles__heading::before, .articles__heading::after {
  display: inline-block;
  content: '';
  vertical-align: middle;
  border-top: 2px solid #000;
  width: 33%; }
.articles__heading::before {
  margin-right: 80px; }
.articles__heading::after {
  margin-left: 80px; }
.articles-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 72px 0 104px; }
.articles__list {
  display: flex; }
.articles .slick-list {
  width: 1340px; }
.articles__list .slick-arrow.slick-prev {
  left: 0;
  z-index: 1;
  background: url(../img/articles/arrow_prev.svg) no-repeat; }
.articles__list .slick-arrow.slick-next {
  right: 0;
  background: url(../img/articles/arrow_next.svg) no-repeat; }
.articles .slick-slider {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column; }
.articles .slick-arrow {
  position: absolute;
  top: 40%;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  display: block; }
  .articles .slick-arrow:hover {
    transform: scale(1.2); }
.articles .article {
  position: relative; }
  .articles .article__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .articles .article__title {
    position: absolute;
    background-color: #7c1ba9;
    color: #fff;
    white-space: nowrap;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 13px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25); }
  .articles .article__more {
    background-color: #8a5e9e;
    position: absolute;
    right: 24px;
    bottom: 24px;
    text-align: center;
    padding: 10px 12px; }
    .articles .article__more:hover {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
      background-color: #b876d7; }

.profile {
  background-color: rgba(230, 221, 249, 0.77);
  border-radius: 50px; }
  .profile-wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 0; }
  .profile-inner {
    display: flex;
    padding: 50px 50px 24px;
    gap: 50px; }
  .profile__img {
    align-self: start; }
  .profile__name {
    text-align: left;
    font-weight: 300;
    font-size: 32px; }
  .profile__specialty {
    font-weight: 600;
    font-size: 26px;
    line-height: 110%;
    letter-spacing: 0.025em; }
  .profile__name, .profile__specialty,
  .profile .bio__item:nth-last-child(n + 2) {
    margin-bottom: 32px; }
  .profile__bio {
    font-weight: 200;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.025em; }
    .profile__bio .accent {
      text-decoration: underline; }
  .profile .bio__item {
    list-style-position: inside; }
    .profile .bio__item::before {
      content: '✧';
      display: inline-block;
      width: 25px; }
  .profile .sign-up {
    align-self: self-end;
    font-weight: 400;
    font-size: 24px; }

.about__heading {
  margin-bottom: 24px; }
.about-wrapper {
  padding: 76px 0 232px; }
  .about-wrapper .about__category:first-child {
    display: flex;
    justify-content: flex-end; }
    .about-wrapper .about__category:first-child .about-inner {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 20px; }
    .about-wrapper .about__category:first-child .about__text {
      padding: 0 35px;
      position: absolute;
      margin: auto 0;
      z-index: 50;
      font-size: 26px;
      font-weight: 200; }
  .about-wrapper .about__category:nth-child(2) {
    padding: 100px 95px 120px 0; }
    .about-wrapper .about__category:nth-child(2) .about-inner {
      display: flex;
      gap: 150px; }
    .about-wrapper .about__category:nth-child(2) .about__text {
      font-size: 20px;
      font-weight: 200; }
      .about-wrapper .about__category:nth-child(2) .about__text .accent {
        text-decoration: underline; }
    .about-wrapper .about__category:nth-child(2) .about__text:not(:last-of-type) {
      margin-bottom: 32px; }
  .about-wrapper .about__category:last-child .about__text {
    font-weight: 200;
    font-size: 22px;
    line-height: 171%;
    margin-bottom: 32px; }
  .about-wrapper .about__category:last-child .about__list {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 150px 166px; }
  .about-wrapper .about__category:last-child .about__item {
    font-weight: 200;
    font-size: 20px;
    line-height: 171%;
    width: 100%; }
    .about-wrapper .about__category:last-child .about__item .desc::before {
      content: '✧';
      display: inline-block;
      width: 25px; }

.reviews__heading {
  align-self: center;
  text-align: center; }
.reviews .accent {
  color: #f6841a; }
.reviews__img {
  z-index: 50;
  align-self: self-end; }
.reviews-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
  margin: 0 auto;
  padding-right: 76px; }
.reviews-inner {
  margin-top: -37px; }
.reviews__list {
  display: flex;
  flex-direction: column;
  position: relative; }
  .reviews__list .slick-slider {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; }
.reviews .review__item {
  border-radius: 90px;
  background-color: rgba(230, 221, 249, 0.77); }
  .reviews .review__item .item-inner {
    padding: 96px 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
.reviews .review__name {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 24px; }
.reviews .review__text {
  font-weight: 200;
  font-size: 28px; }

.contacts__heading {
  margin-bottom: 80px; }
.contacts-wrapper {
  padding: 104px 0 48px; }
.contacts__info {
  display: flex;
  justify-content: space-between; }
.contacts__list {
  font-weight: 300;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.025em; }
.contacts__item:not(:last-child) {
  margin-bottom: 30px; }
.contacts__social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 58px; }

.footer {
  background-color: #413c60;
  color: #fff; }
  .footer a {
    color: #fff; }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0.025em; }
  .footer__menu {
    display: flex;
    width: 100%; }
  .footer .menu__list {
    width: 35%;
    padding-right: 15px; }
    .footer .menu__list:not(:first-child) {
      border-left: 1px solid #fff;
      padding-left: 24px;
      padding-top: 56px; }
  .footer .menu__item {
    display: flex;
    gap: 20px;
    align-items: center; }
    .footer .menu__item:not(:last-child) {
      margin-bottom: 20px; }
  .footer__social-media {
    margin-top: 20px;
    gap: 58px;
    display: flex;
    justify-content: flex-start; }

/*# sourceMappingURL=style.css.map */
