//imports

@font-face {
  font-family: 'robotoregular';
  src: url('Roboto-Regular-webfont.eot');
  src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Regular-webfont.woff2') format('woff2'),
    url('Roboto-Regular-webfont.woff') format('woff'),
    url('Roboto-Regular-webfont.ttf') format('truetype'),
    url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

//variables

$color-bg-primary: rgba(230, 221, 249, 0.77);
$color-bg-secondary: #746c9d;
$color-bg-special: #7c1ba9;

$color-text-primary: #000;
$color-text-secondary: #fff;
$color-text-special: #3f055a;

$color-btn-primary: #8a5e9e;
$color-btn-secondary: #473e83;

$color-special: #413c60;

%heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: 0.025em;
  text-align: center;
  color: $color-bg-special;
}

%btn {
  display: flex;
  align-items: center;
  vertical-align: middle;
  line-height: 110%;
  letter-spacing: 0.025em;
  border-radius: 12px;
  color: $color-text-secondary;
}

%btn-primary {
  font-weight: 500;
  font-size: 15px;
  background-color: $color-btn-primary;
  padding: 12px 45px;
}

%btn-secondary {
  font-weight: 500;
  font-size: 18px;
  background-color: $color-btn-secondary;
  padding: 15px 20px;
}

%btn-special {
  background-color: $color-special;
  padding: 12px 25px;
  font-size: 15px;
  font-weight: 400;
}

//common

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
}

.page {
  background: #fbf8ff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.visually-hidden {
  display: none;
}

.link {
  text-decoration: none;
  color: $color-text-primary;
}

.link,
.btn {
  cursor: pointer;
}

.paragraph {
  display: block;
}

.bold {
  font-weight: bold;
}

.underlined {
  text-decoration: underline;
}

.list {
  list-style: none;
}

//slick-slider common

.slick-slider {
  display: flex;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.slick-dots li {
  margin: 0 10px;
}

.slick-dots button {
  font-size: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #a6a6a6;
  border: none;
  display: flex;
  align-items: center;
}

.slick-active button {
  background-color: #727171;
}

//header

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  .menu {
    &__list {
      display: flex;
      font-weight: 400;
      font-size: 15px;
      line-height: 110%;
      letter-spacing: 0.025em;
      gap: 65px;
    }
  }
  .callback {
    display: flex;
    align-items: center;
    justify-content: center;
    &__img {
      margin-right: 10px;
    }
    &__link {
      @extend %btn, %btn-special;
    }
  }
}

//hero

.hero {
  background-color: $color-bg-primary;
  &-wrapper {
    background: url(../img/hero_illustration.png) no-repeat;
    background-position: right bottom;
    min-height: 565px;
  }
  &-inner {
    padding: 134px 0 0 94px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    color: #00233d;
    gap: 48px;
  }
  &__heading {
    font-weight: 500;
    font-size: 36px;
    line-height: 67%;
  }
  &__subheading {
    font-weight: 300;
    font-size: 32px;
    line-height: 133%;
    letter-spacing: -1px;
  }
}

//sellout

.sellout {
  background-color: $color-bg-special;
  color: $color-text-secondary;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
  }
  &__content {
    letter-spacing: 0.5px;
  }
  &__heading {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 27px;
    line-height: 110%;
  }
  &__subheading {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
  }
  &__img {
    max-width: 180px;
    max-height: 180px;
  }
}

//benefits

.benefits {
  &-wrapper {
    padding: 130px 0;
  }
  &__list {
    display: flex;
    gap: 135px;
  }
  .benefit {
    display: flex;
    flex-direction: column;
    &__title {
      order: 2;
      font-weight: 600;
      font-size: 20px;
      line-height: 118%;
      letter-spacing: 0.5px;
      margin-bottom: 10px;
    }
    &__img {
      order: 1;
      width: 50px;
      height: 50px;
      margin-bottom: 12px;
    }
    &__desc {
      order: 3;
      font-weight: 300;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: 0.5px;
    }
  }
}

.services__subheading,
.card__title,
.article__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 110.52%;
  letter-spacing: 0.025em;
  text-align: center;
}
//services

.services {
  &__heading {
    @extend %heading;
  }
  &__subheading {
    margin-top: 20px;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
  }
  &-inner {
    padding-bottom: 74px;
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 157px;
  }
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__item {
      max-width: 300px;
    }
    &__item:not(:last-child) {
      margin-right: 45px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    &__img {
      border-radius: 50%;
    }
    &__title {
      margin: 24px 0 36px;
    }
    &__price {
      margin-bottom: 56px;
    }
    &__link {
      @extend %btn, %btn-primary;
      align-self: self-end;
      margin-top: auto;
    }
  }
  &__more.link {
    @extend %btn, %btn-secondary;
    align-self: flex-end;
    border-radius: 12px;
    text-align: center;
  }
}

//articles

.articles {
  &__heading {
    @extend %heading;
    &::before,
    &::after {
      display: inline-block;
      content: '';
      vertical-align: middle;
      border-top: 2px solid #000;
      width: 30%;
    }
    &::before {
      margin-right: 85px;
    }
    &::after {
      margin-left: 85px;
    }
  }
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px 0 143px;
  }
  &__list {
    display: flex;
  }
  &__list .slick-arrow.slick-prev {
    left: 0;
    background: url(../img/arrow_prev.svg) no-repeat;
  }
  &__list .slick-arrow.slick-next {
    right: 0;
    background: url(../img/arrow_next.svg) no-repeat;
  }
  .slick-slider {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .slick-list {
    width: 1340px;
  }
  .slick-arrow {
    position: absolute;
    top: 40%;
    font-size: 0;
    width: 40px;
    height: 40px;
    border: none;
    display: block;
  }
  .article {
    position: relative;
    &__item {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title {
      position: absolute;
      background-color: $color-bg-special;
      color: $color-text-secondary;
      white-space: nowrap;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 20px;
      padding: 13px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }
    &__more {
      @extend %btn, %btn-secondary;
      background-color: $color-btn-primary;
      position: absolute;
      right: 24px;
      bottom: 24px;
      text-align: center;
    }
  }
}

//profile

.profile {
  background-color: $color-bg-primary;
  border-radius: 50px;
  &-wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
  }
  &-inner {
    display: flex;
    padding: 50px;
    gap: 50px;
  }
  &__heading {
    @extend %heading;
  }
  &__img {
    align-self: start;
  }
  &__name {
    text-align: left;
    font-weight: 300;
    font-size: 32px;
  }
  &__specialty {
    font-weight: 600;
    font-size: 26px;
    line-height: 110%;
    letter-spacing: 0.025em;
  }
  &__name,
  &__specialty,
  .bio__item:nth-last-child(n + 2) {
    margin-bottom: 32px;
  }
  &__bio {
    font-weight: 200;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.025em;
  }
  .bio__item {
    list-style-position: inside;
    &::before {
      content: '✔';
      display: inline-block;
      width: 25px;
    }
  }
  .sign-up {
    @extend %btn, %btn-secondary;
    align-self: self-end;
  }
}

.about {
  &-wrapper {
    padding: 48px 0 72px;
    text-align: justify;
    .about__text:nth-of-type(2) {
      margin-bottom: 48px;
    }
    .about__text:nth-of-type(n + 3):nth-of-type(-n + 5) {
      margin-bottom: 30px;
    }
    .about__text:nth-of-type(6) {
      margin-bottom: 74px;
    }
  }
  &__subheading {
    font-weight: 400;
    font-size: 28px;
    line-height: 110%;
    letter-spacing: 0.025em;
    margin-bottom: 30px;
  }
  &__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.025em;
    &--wide {
      line-height: 171%;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  &__item:first-child {
    margin-top: 30px;
  }
  &__item::before {
    content: '🗸';
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-right: 10px;
  }
}

.reviews {
  &__heading {
    @extend %heading;
    align-self: center;
    text-align: left;
  }
  &__img {
    z-index: 50;
  }
  &-wrapper {
    display: flex;
  }
  &-inner {
    margin-top: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    position: relative;
    .slick-slider {
      position: relative;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }
  .review {
    &__item {
      align-items: center;
      justify-content: center;
      display: flex;
      border-radius: 90px;
      background-color: $color-bg-primary;
      font-weight: 300;
      font-size: 20px;
      line-height: 110%;
      letter-spacing: 0.025em;
      flex-direction: column;

      .item-inner {
        padding: 66px 78px;
      }
    }
    &__name {
      margin-bottom: 77px;
      font-weight: 300;
      font-size: 50px;
      line-height: 110%;
      letter-spacing: 0.025em;
      color: #000000;
      display: inline-block;
    }
    &__text {
      text-align: justify;
      font-weight: 300;
      font-size: 36px;
      line-height: 110%;
      letter-spacing: 0.025em;
      color: #000000;
    }
  }
}

.contacts {
  &__heading {
    @extend %heading;
    margin-bottom: 72px;
  }
  &-wrapper {
    padding: 120px 0 48px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    font-weight: 300;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.025em;
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  &__social-media {
    display: flex;
    justify-content: center;
  }
}
.social-media {
  &__item:first-child {
    margin-right: 58px;
  }
}

.footer {
  background-color: $color-special;
  color: #fff;
  a {
    color: #fff;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.025em;
  }
  &__menu {
    display: flex;
    width: 100%;
  }
  .menu__list {
    width: 35%;
    padding-right: 15px;
    &:not(:first-child) {
      border-left: 1px solid #fff;
      padding-left: 24px;
      padding-top: 56px;
    }
  }
  .menu__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__social-media {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
  }
}
