.contacts {
  &__heading {
    @extend %heading;

    @include adaptive-value(margin-bottom, 80, 16, standard);
  }

  &-wrapper {
    @include adaptive-value(padding-top, 104, 56, standard);
    @include adaptive-value(padding-bottom, 50, 6, standard);
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    @extend %typography--default;

    @include adaptive-value(font-size, 32, 12, standard);

    font-weight: 300;
  }

  &__item:not(:last-child) {
    @include adaptive-value(margin-bottom, 48, 16, standard);
  }

  &__social-media {
    @extend %row--alighned;

    gap: 58px;
  }

  .social-media__item img {
    @include adaptive-value(width, 55, 25, standard);
    @include adaptive-value(height, 55, 25, standard);
  }

  iframe {
    @include adaptive-value(width, 773, 421, standard-tablet);
    @include adaptive-value(height, 545, 297, standard-tablet);
  }
}
