.articles {
  &__heading {
    @extend %heading;

    position: relative;
    overflow: hidden;
    color: $color-text-primary;

    &::before,
    &::after {
      display: block;
      content: '';
      position: absolute;

      border-top: 2px solid $color-text-primary;
      top: 50%;
      width: 32%;
    }

    &::before {
      @include adaptive-value(margin-left, 80, 25, standard);

      right: 0;
    }

    &::after {
      @include adaptive-value(padding-bottom, 80, 25, standard);

      left: 0;
    }
  }

  &-wrapper {
    @extend %row--alighned;

    @include adaptive-value(padding-top, 72, 20, standard);
    @include adaptive-value(padding-bottom, 104, 56, standard);

    position: relative;

    max-width: 1340px;
  }

  &__list {
    @extend %row--alighned;
  }

  &__list .slick-arrow.slick-prev {
    background: url(../img/articles/arrow_prev.svg) no-repeat;

    left: 0;
  }

  &__list .slick-arrow.slick-next {
    background: url(../img/articles/arrow_next.svg) no-repeat;

    right: 0;
  }

  .slick-slider {
    flex-direction: column;

    max-width: 1114px;
  }

  .slick-list {
    max-width: 1114px;
  }

  .slick-arrow {
    @include adaptive-value(width, 40, 15, standard);
    @include adaptive-value(height, 40, 15, standard);

    position: absolute;
    border: none;
    display: block;
    background-size: cover;

    z-index: 1;
    top: 40%;
    font-size: 0;

    &:hover {
      transform: scale(1.2);
    }
  }

  .article {
    position: relative;
    &__item {
      @extend %row--alighned;

      flex-direction: column;
    }

    &__title {
      @extend %typography--default;

      @include adaptive-value(padding, 13, 7, standard);
      @include adaptive-value(font-size, 24, 8, standard);

      position: absolute;
      background-color: $color-bg-special;
      color: $color-text-secondary;
      white-space: nowrap;

      font-weight: 300;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 20px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }

    &__more {
      @extend %btn, %btn-secondary;

      @include adaptive-value(right, 24, 8, standard);
      @include adaptive-value(bottom, 24, 8, standard);
      @include adaptive-value(padding-top, 15, 5.5, standard);
      @include adaptive-value(padding-bottom, 15, 5.5, standard);
      @include adaptive-value(padding-left, 22, 3.5, standard);
      @include adaptive-value(padding-right, 22, 3.5, standard);

      background-color: $color-btn-primary;
      position: absolute;

      &:hover {
        background-color: $color-btn-primary--hovered;

        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
