@media (max-width: 768px) {
  .footer {
    .container {
      padding: 0 20px;
    }

    &-wrapper {
      padding: 8px 0;
    }

    .menu {
      &__item {
        column-gap: 9px;
      }
    }
  }
}

@media (max-width: 475px) {
  .footer {
    .container {
      padding: 0 16px;
    }

    .menu {
      &__item {
        column-gap: 5px;
      }
    }
  }
}
