.hero {
  background-color: $color-bg-primary;

  &-wrapper {
    padding-top: 100px;
  }

  &-inner {
    @include adaptive-value(padding-top, 0, 26, standard);

    display: flex;
    justify-content: space-between;

    padding-left: 50px;
  }

  &__content {
    @include adaptive-value(margin-right, 0, 34, standard);
    @include adaptive-value(margin-bottom, 70, 24, standard);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #00233d;
  }

  &__heading {
    @include adaptive-value(font-size, 36, 18, standard);
    @include adaptive-value(margin-bottom, 48, 4, standard);

    white-space: nowrap;

    font-weight: 500;
    line-height: 67%;
  }

  &__subheading {
    @include adaptive-value(font-size, 32, 15, standard);
    @include adaptive-value(margin-bottom, 28, 8, standard);

    font-weight: 300;
    line-height: 133%;
    letter-spacing: -1px;
  }

  &__img {
    overflow: hidden;
  }

  .callback {
    align-self: start;
    display: none;
  }
}
