.hero {
  background-color: $color-bg-primary;

  &-inner {
    @include adaptive-value(padding-top, 0, 26, standard);
    @include adaptive-value(padding-left, 98, 30, standard);

    display: flex;
    justify-content: space-between;
  }

  &__content {
    @include adaptive-value(row-gap, 48, 4, standard);
    @include adaptive-value(margin-right, 0, 34, standard);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #00233d;
  }

  &__heading {
    @include adaptive-value(font-size, 36, 18, standard);

    font-weight: 500;
    line-height: 67%;
  }
  &__subheading {
    @include adaptive-value(font-size, 32, 15, standard);
    @include adaptive-value(margin-bottom, 121, 8, standard);

    font-weight: 300;
    line-height: 133%;
    letter-spacing: -1px;
  }

  &__img {
    @include adaptive-value(width, 690, 300, standard);
    @include adaptive-value(height, 525, 215, standard);
  }

  .callback {
    display: none;
  }
}
