//laptop

@media (max-width: 1024px) {
  .hero {
    &-inner {
      padding-top: 0;
    }

    .callback {
      display: block;
    }

    &__heading {
      @include adaptive-value(font-size, 28, 20, standard);
    }

    &__subheading {
      @include adaptive-value(font-size, 24, 16, standard);

      line-height: 118%;
    }
  }
}

//tablet

@media (max-width: 900px) {
  .hero {
    &-wrapper {
      padding-top: 75px;
    }

    &-inner {
      padding-left: 25px;
    }

    &__content {
      width: 85%;
    }

    &__heading {
      font-size: 20px;
    }

    &__subheading {
      font-size: 16;
    }
  }
}

//mobile

@media (max-width: 768px) {
  .hero {
    background-color: $color-text-secondary;
    &-wrapper {
      padding-top: 80px;
    }

    &-inner {
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 24px;
    }

    &__content {
      align-items: center;
      text-align: center;

      order: 2;
      margin: 24px auto 0;
    }

    &__heading {
      font-size: 20px;
    }

    &__subheading {
      font-size: 16;
    }

    &__img {
      background-color: $color-bg-primary;

      order: 1;
      border-radius: 40px;
    }

    .callback {
      align-self: center;
    }
  }
}

@media (max-width: 425px) {
  .hero {
    &-wrapper {
      padding-top: 40px;
    }

    &-inner {
      padding: 0;
    }

    &__content {
      margin: 10px auto 0;
      row-gap: 10px;
    }

    &__heading {
      font-size: 18px;
      margin: 0;
    }

    &__subheading {
      font-size: 15;
      margin: 0;
    }
  }
}
