.sellout {
  background-color: $color-bg-special;
  color: $color-text-secondary;

  &-wrapper {
    @extend %row--alighned;

    @include adaptive-value(padding-top, 21, 32, standard);
    @include adaptive-value(padding-right, 230, 30, standard);
    @include adaptive-value(padding-bottom, 21, 32, standard);

    justify-content: space-between;
  }

  &__content {
    letter-spacing: 0.031em;

    .paragraph {
      display: inline;
    }
  }
  &__heading {
    @extend %typography--default;

    @include adaptive-value(font-size, 40, 16, standard);
    @include adaptive-value(margin-bottom, 27, 16, standard);

    font-weight: 600;
  }

  &__subheading {
    @extend %typography--default;

    @include adaptive-value(font-size, 24, 13, standard);

    font-weight: 500;
  }

  &__img {
    @include adaptive-value(width, 180, 80, standard);
    @include adaptive-value(height, 180, 80, standard);
  }
}
