@import './common/mixins.scss';
@import './common/variables.scss';
@import './common/extends.scss';

//tablet

@media (max-width: 768px) {
  .sellout {
    &-wrapper {
      padding: 16px 0;
    }
  }
}

@media (max-width: 425px) {
  .sellout {
    &-wrapper {
      padding: 16px 30px;
    }
    .container {
      padding: 0;
    }
    &__content {
      .paragraph {
        display: block;
      }
    }
  }
}
