@media (max-width: 768px) {
  .services {
    .cards {
      display: grid;
      justify-items: center;
      justify-content: center;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 60px 40px;

      .card {
        &__item {
          width: 250px;
          margin: 0;
        }

        &__img {
          width: 250px;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  .services {
    .cards {
      .card {
        &__item {
          width: 200px;
        }

        &__img {
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: 530px) {
  .services {
    .cards {
      .card {
        &__item {
          width: 150px;
        }

        &__img {
          width: 150px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .services {
    .cards {
      grid-template-columns: 1fr;

      .card {
        &__item {
          width: 200px;
        }

        &__img {
          width: 200px;
        }
      }
    }

    &__more.link {
      align-self: center;
    }
  }
}
