.footer {
  background-color: $color-special;
  color: $color-text-secondary;

  flex: 0 0 auto;

  &__logo {
    @include adaptive-value(width, 72, 34, standard-mobile);
    @include adaptive-value(height, 27, 9, standard-mobile);

    width: 100%;
  }

  .link {
    color: $color-text-secondary;
  }

  &-wrapper {
    @include adaptive-value(font-size, 16, 5, standard);

    display: flex;
    justify-content: space-between;

    padding: 15px 0 15px;
    font-weight: 300;
  }

  &__menu {
    display: flex;

    width: 100%;
  }

  .menu__list {
    width: 35%;
    padding-right: 15px;

    &:not(:first-child) {
      @include adaptive-value(padding-left, 24, 8, standard);
      @include adaptive-value(padding-top, 45, 13, standard);

      border-left: 1px solid $color-bg-secondary;
    }
  }

  .menu__item {
    display: flex;
    align-items: center;

    column-gap: 20px;

    &:not(:last-child) {
      @include adaptive-value(margin-bottom, 17, 8, standard-mobile);
    }

    .menu__icon {
      @include adaptive-value(width, 16, 6, standard-mobile);
      @include adaptive-value(height, 16, 6, standard-mobile);
    }
  }

  &__social-media {
    @include adaptive-value(margin-top, 18, 6, standard);
    @include adaptive-value(column-gap, 58, 14, standard-mobile);

    display: flex;
    justify-content: flex-start;
  }

  .social-media__logo {
    @include adaptive-value(width, 25, 8, standard-mobile);
    @include adaptive-value(height, 25, 8, standard-mobile);
  }
}
