$max-width: 1920;
$max-width-container: 1440;
$max-width-container-md: 1300;
$max-width-container-s: 1055;

@mixin adaptive-value($property, $start-size, $min-size, $type) {
  $add-size: $start-size - $min-size;
  @if $type==standard {
    #{$property}: $start-size + px;
    @media (max-width: #{$max-width-container + px}) {
      #{$property}: calc(
        #{$min-size + px} + #{$add-size} *
          ((100vw - 320px) / #{$max-width-container - 320})
      );
    }
  } @else if $type==standard-tablet {
    #{$property}: $start-size + px;
    @media (max-width: #{$max-width-container + px}) {
      #{$property}: calc(
        #{$min-size + px} + #{$add-size} *
          ((100vw - 768px) / #{$max-width-container - 768})
      );
    }
  } @else if $type==standard-mobile {
    #{$property}: $start-size + px;
    @media (max-width: #{$max-width-container + px}) {
      #{$property}: calc(
        #{$min-size + px} + #{$add-size} *
          ((100vw - 425px) / #{$max-width-container - 425})
      );
    }
  } @else if $type==md {
    #{$property}: $start-size + px;
    @media (max-width: #{$max-width-container-md + px}) {
      #{$property}: calc(
        #{$min-size + px} + #{$add-size} *
          ((100vw - 320px) / #{$max-width-container-md - 320})
      );
    }
  } @else if $type==md-laptop {
    #{$property}: $start-size + px;
    @media (max-width: #{$max-width-container-md + px}) {
      #{$property}: calc(
        #{$min-size + px} + #{$add-size} *
          ((100vw - 1024px) / #{$max-width-container-md - 1024})
      );
    }
  } @else if $type==md-tablet {
    #{$property}: $start-size + px;
    @media (max-width: #{$max-width-container-md + px}) {
      #{$property}: calc(
        #{$min-size + px} + #{$add-size} *
          ((100vw - 768px) / #{$max-width-container-md - 768})
      );
    }
  } @else if $type==md-mobile {
    #{$property}: $start-size + px;
    @media (max-width: #{$max-width-container-md + px}) {
      #{$property}: calc(
        #{$min-size + px} + #{$add-size} *
          ((100vw - 425px) / #{$max-width-container-md - 425})
      );
    }
  } @else if $type==s {
    #{$property}: $start-size + px;
    @media (max-width: #{$max-width-container-s + px}) {
      #{$property}: calc(
        #{$min-size + px} + #{$add-size} *
          ((100vw - 320px) / #{$max-width-container-s - 320})
      );
    }
  } @else if $type==s-tablet {
    #{$property}: $start-size + px;
    @media (max-width: #{$max-width-container-s + px}) {
      #{$property}: calc(
        #{$min-size + px} + #{$add-size} *
          ((100vw - 768px) / #{$max-width-container-s - 768})
      );
    }
  } @else if $type==s-mobile {
    #{$property}: $start-size + px;
    @media (max-width: #{$max-width-container-s + px}) {
      #{$property}: calc(
        #{$min-size + px} + #{$add-size} *
          ((100vw - 425px) / #{$max-width-container-s - 425})
      );
    }
  }
}
