%heading {
  @include adaptive-value(font-size, 36, 16, standard);

  text-align: center;
  color: $color-bg-special;

  font-weight: 400;
}

%row {
  display: flex;
  flex-wrap: wrap;
}

%row--alighned {
  display: flex;
  justify-content: center;
  align-items: center;
}

%typography--default {
  line-height: 110%;
  letter-spacing: 0.025em;
}

%btn {
  @extend %row--alighned;

  color: $color-text-secondary;

  border-radius: 12px;
}

%btn-primary {
  @include adaptive-value(font-size, 15, 10, standard);
  @include adaptive-value(padding-top, 11.5, 5, standard);
  @include adaptive-value(padding-bottom, 11.5, 5, standard);
  @include adaptive-value(padding-left, 45.5, 17.5, standard);
  @include adaptive-value(padding-right, 45.5, 17.5, standard);

  background-color: $color-btn-primary;

  font-weight: 500;
}

%btn-secondary {
  @include adaptive-value(padding-top, 14.5, 8.5, standard);
  @include adaptive-value(padding-bottom, 14.5, 8.5, standard);
  @include adaptive-value(padding-left, 26.5, 6, standard);
  @include adaptive-value(padding-right, 26.5, 6, standard);

  background-color: $color-btn-secondary;

  &:hover {
    background-color: $color-bg-special;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }
}

%btn-special {
  @extend %row--alighned;

  @include adaptive-value(padding-top, 11.5, 8.5, standard);
  @include adaptive-value(padding-bottom, 11.5, 8.5, standard);
  @include adaptive-value(padding-left, 20, 7, standard);
  @include adaptive-value(padding-right, 20, 7, standard);
  @include adaptive-value(font-size, 15, 12, standard);

  background-color: $color-special;

  font-weight: 400;

  &:hover {
    background-color: $color-bg-special;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }
}
