@use 'sass:math';

@function prc($pxOne, $pxTwo) {
  $result: math($pxOne / $pxTwo) * 100%;
  @return $result;
}

@function rem($px) {
  $result: math($px / 16) + rem;
  @return $result;
}

@function em($px) {
  $result: math($px / 16) + em;
  @return $result;
}
