$color-bg-primary: rgba(230, 221, 249, 0.77);
$color-bg-secondary: #d2c7eb;
$color-bg-body: #fbf8ff;
$color-bg-special: #7c1ba9;
$color-bg-pagination: #a6a6a6;
$color-bg-pagination--active: #727171;

$color-text-primary: #000;
$color-text-secondary: #fff;
$color-text-special: #3f055a;
$color-text-accented: #f6841a;

$color-btn-primary: #8a5e9e;
$color-btn-primary--hovered: #b876d7;
$color-btn-secondary: #473e83;

$color-special: #413c60;
