@media (max-width: 1024px) {
  .header .callback {
    display: none; } }
@media (max-width: 768px) {
  .page.lock {
    overflow: hidden; }

  .header .container--md {
    padding-left: 50px;
    padding-right: 50px; } }
  @media (max-width: 768px) and (max-width: 1440px) {
    .header .container--md {
      padding-left: calc( 13px + 37 * ((100vw - 425px) / 1015) ); } }
  @media (max-width: 768px) and (max-width: 1440px) {
    .header .container--md {
      padding-right: calc( 12px + 38 * ((100vw - 425px) / 1015) ); } }
@media (max-width: 768px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3; }
    .header__burger span {
      top: 9px; }
    .header__burger:before, .header__burger:after,
    .header__burger span {
      content: '';
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .header__burger:before {
      top: 0;
      z-index: 3; }
    .header__burger:after {
      bottom: 0; }
    .header__burger.active:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 9px; }
    .header__burger.active:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      bottom: 9px; }
    .header__burger.active span {
      -webkit-transform: scale(0);
              transform: scale(0); }
  .header .logo__img {
    width: 95px;
    height: 35px; }
  .header .menu {
    position: fixed;
    background-color: #fff;
    overflow: auto;
    top: -120%;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .header .menu.active {
      top: 0;
      padding-top: 70px; }
    .header .menu__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      row-gap: 45px;
      font-size: 20px;
      padding-top: 50px; } }
@media (max-width: 425px) {
  .header .container {
    padding: 13px 0 0 13px; }
  .header:before,
  .header .menu {
    background-color: #fff; }
  .header .menu.active {
    padding-top: 70px; }
  .header .menu__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-top: 0;
    font-size: 15px;
    padding-left: 30px; }
  .header-wrapper {
    padding-top: 13px; }
  .header .logo {
    display: none; }
  .header__burger {
    width: 16px;
    height: 14px; }
  .header span {
    top: 6px; }
  .header__burger.active:before {
    top: 5px; }
  .header__burger.active:after {
    bottom: 7px; } }
@media (max-width: 1024px) {
  .hero-inner {
    padding-top: 0; }
  .hero .callback {
    display: block; }
  .hero__heading {
    font-size: 28px; } }
  @media (max-width: 1024px) and (max-width: 1440px) {
    .hero__heading {
      font-size: calc( 20px + 8 * ((100vw - 320px) / 1120) ); } }
@media (max-width: 1024px) {
  .hero__subheading {
    font-size: 24px;
    line-height: 118%; } }
  @media (max-width: 1024px) and (max-width: 1440px) {
    .hero__subheading {
      font-size: calc( 16px + 8 * ((100vw - 320px) / 1120) ); } }

@media (max-width: 900px) {
  .hero-wrapper {
    padding-top: 75px; }
  .hero-inner {
    padding-left: 25px; }
  .hero__content {
    width: 85%; }
  .hero__heading {
    font-size: 20px; }
  .hero__subheading {
    font-size: 16; } }
@media (max-width: 768px) {
  .hero {
    background-color: #fff; }
    .hero-wrapper {
      padding-top: 80px; }
    .hero-inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-left: 0;
      margin-bottom: 24px; }
    .hero__content {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin: 24px auto 0; }
    .hero__heading {
      font-size: 20px; }
    .hero__subheading {
      font-size: 16; }
    .hero__img {
      background-color: rgba(230, 221, 249, 0.77);
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      border-radius: 40px; }
    .hero .callback {
      -ms-flex-item-align: center;
          align-self: center; } }
@media (max-width: 425px) {
  .hero-wrapper {
    padding-top: 40px; }
  .hero-inner {
    padding: 0; }
  .hero__content {
    margin: 10px auto 0;
    row-gap: 10px; }
  .hero__heading {
    font-size: 18px;
    margin: 0; }
  .hero__subheading {
    font-size: 15;
    margin: 0; } }
@media (max-width: 768px) {
  .sellout-wrapper {
    padding: 16px 0; } }
@media (max-width: 425px) {
  .sellout-wrapper {
    padding: 16px 30px; }
  .sellout .container {
    padding: 0; }
  .sellout__content .paragraph {
    display: block; } }
@media (max-width: 768px) {
  .benefits__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px; }
  .benefits .benefit {
    width: 40%; } }
@media (max-width: 505px) {
  .benefits__list {
    gap: 30px; } }
@media (max-width: 425px) {
  .benefits .container {
    padding: 30px; }
  .benefits-wrapper {
    padding: 0; }
  .benefits__list {
    gap: 20px; }
  .benefits .benefit:last-child {
    margin: 0 auto; } }
@media (max-width: 665px) {
  .services .container {
    padding: 0;
    max-width: none; } }
@media (max-width: 768px) {
  .articles__heading::before, .articles__heading::after {
    width: 25%; } }
@media (max-width: 425px) {
  .articles__heading::before, .articles__heading::after {
    width: 20%; } }
@media (max-width: 900px) {
  .profile-inner {
    padding: 16px 0; }
  .profile__name, .profile__specialty,
  .profile .bio__item:nth-last-child(n + 2) {
    margin-bottom: 16px; } }
@media (max-width: 525px) {
  .profile-inner {
    padding: 16px 0; }
  .profile__name, .profile__specialty,
  .profile .bio__item:nth-last-child(n + 2) {
    margin-bottom: 16px; } }
@media (max-width: 475px) {
  .profile .container {
    padding: 0 8px 0 8px; }
  .profile-inner {
    display: block; }
  .profile__img {
    float: left;
    margin: 0 10px 15px 0; }
  .profile__name .paragraph {
    display: block; }
  .profile__specialty,
  .profile .bio__item:nth-last-child(n + 2) {
    margin-bottom: 8px; }
  .profile .bio__item {
    font-size: 10px; }
  .profile .sign-up {
    margin: 0 25px 0 0; } }
@media (max-width: 900px) {
  .about__category:first-child .about-inner {
    margin-left: 0; }
  .about__category:first-child .about__text {
    font-size: 15px; } }
@media (max-width: 768px) {
  .about__category:nth-child(2) .about-inner {
    -webkit-column-gap: 20px;
            column-gap: 20px; }
  .about__category:last-child .about__list {
    row-gap: 48px;
    -webkit-column-gap: 20px;
            column-gap: 20px; } }
@media (max-width: 700px) {
  .about__category:first-child .about__img, .about__category:nth-child(2) .about__img {
    width: 45%; } }
@media (max-width: 575px) {
  .about__category:first-child .about-inner {
    width: 80%;
    margin: 0 auto; }
  .about__category:first-child .about__text {
    font-size: 13px; }
  .about__category:first-child .about__img {
    display: none; } }
@media (max-width: 575px) and (max-width: 475px) {
  .about .container {
    padding: 0 8px; }
  .about-wrapper {
    padding: 36px 0 56px; }
  .about__heading {
    margin-bottom: 16px; }
  .about__category:first-child .about-inner {
    width: 100%;
    margin: 0 auto; }
  .about__category:first-child .about-inner {
    margin: 0 17px; }
  .about__category:nth-child(2) {
    padding: 48px 0; }
    .about__category:nth-child(2) .about-inner {
      display: block; }
    .about__category:nth-child(2) .about__img {
      float: right;
      margin: 0 0 10px 14px; }
  .about__category:last-child .about__list {
    margin: 0 -8px; }
  .about__category:last-child .about__text {
    margin-bottom: 24px; } }
@media (max-width: 768px) {
  .reviews .container--s {
    padding: 0; }
  .reviews .slick-list {
    width: 100%; }
  .reviews .review__name {
    margin-bottom: 24px; }
  .reviews .review__item .item-inner {
    padding: 30px 60px; } }
@media (max-width: 425px) {
  .reviews .review__name {
    font-size: 15px; }
  .reviews .review__text {
    font-size: 10px; }
  .reviews .review__item .item-inner {
    padding: 30px 46px; } }
@media (max-width: 900px) {
  .contacts__list {
    font-size: 18px; } }
@media (max-width: 768px) {
  .contacts__info {
    display: block; }
  .contacts__list {
    font-size: 16px; }
  .contacts iframe {
    width: 100%;
    height: 267px; }
  .contacts__social-media {
    margin-bottom: 24px;
    -webkit-column-gap: 80px;
            column-gap: 80px; } }
@media (max-width: 475px) {
  .contacts .container {
    padding: 0 8px; }
  .contacts__map {
    margin: 0 -8px; } }
@media (max-width: 768px) {
  .footer .container {
    padding: 0 20px; }
  .footer-wrapper {
    padding: 8px 0; }
  .footer .menu__item {
    -webkit-column-gap: 9px;
            column-gap: 9px; } }
@media (max-width: 475px) {
  .footer .container {
    padding: 0 16px; }
  .footer .menu__item {
    -webkit-column-gap: 5px;
            column-gap: 5px; } }
