@media (max-width: 768px) {
  .reviews {
    .container--s {
      padding: 0;
    }

    .slick-list {
      width: 100%;
    }

    .review {
      &__name {
        margin-bottom: 24px;
      }

      &__item {
        .item-inner {
          padding: 30px 60px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .reviews {
    .review {
      &__name {
        font-size: 15px;
      }

      &__text {
        font-size: 10px;
      }

      &__item {
        .item-inner {
          padding: 30px 46px;
        }
      }
    }
  }
}
